* {
  margin: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(to right, #656565, #90ee90, #48ad48, #249624, #757575, #656565);
  z-index: -99;
  overflow-x: hidden;
}
body {
  min-height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(233, 233, 233, 0.8);
  line-height: 1.5;
  background-attachment: fixed;

}
body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -99;
  background: linear-gradient(to top, #032408, #000000, #000000, #000000);
  background-attachment: fixed;

}

h1{
  font-size: clamp(2rem, 4vw, 3rem);

  font-weight: bolder;
  letter-spacing: 0.2em;
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.42);
}
.nav-bar-container{
  font-size: 4rem;
  margin-top: 1%;
  
}
.nav-bar-main {
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.42);
}

.nav-bar-a-group {
  position: absolute;
  right: 9vw; 
}

.image-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.my1x1 {
  position: absolute;
  margin: 0 auto;
  top: 12vh;
  right: 5vw;
  width: clamp(300px, 45vw, 1000px);  
  height: 89vh;
  display: flex;
  box-sizing: border-box;
}



.layer-blur {
  position: absolute;
  top: 20vh;
  right: 0;
  width: 30vw;
  height: 0;
  box-shadow: 0 0 700px 15px #90ee90;
  transform: rotate(-30deg);
}

.container {
  width: 100%;
  margin: 0 auto;

  position: relative;
  z-index: 1;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5vw; 
}

header h1 {
  margin: 0;
}


nav {
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: flex-end;
}


nav a {
  font-size: clamp(0.8rem, 1vw, 1rem);
  letter-spacing: 0.1rem;
  transition: color 0.2s ease;
  text-decoration: none;
  color: inherit;
  user-select: none;
}

nav a:hover {
  color: gray;
}

.btn-signing {
  background-color: lightgray;
  color: black;
  padding: 0.8rem 2vw;
  border-radius: 50px;
  border: none;
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn-signing:hover {
  background-color: gray;
}

main {
  display: block;
  min-height: auto;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 40vw;
  margin-left: 10vw; 
}

.introducing-tag-box {
  margin-top: 3vh;
  color: #c0c0c0;
  position: relative;
  width: 10vw;
  height: 2.5rem;
  border-radius: 50px;
  background: linear-gradient(to right, #656565, #90ee90, #48ad48, #249624, #757575, #656565);
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px white;
  text-transform: uppercase;
  display: flex;
}

.introducing-tag-box .intro-tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.my-sep-line {
  position: absolute;
  top: 100vh;
  left: 50%;
  width: 110vw;
  height: 1rem;
  transform: translateX(-50%);
  border-radius: 100px;
  background: linear-gradient(to right, #656565, #90ee90, #90ee90, #90ee90, #757575, #656565);
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px white;

}

.tags-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  padding: 0;
  margin-top: 3vh;
  box-sizing: border-box;
}

.content h1 {
  margin: 2rem 0;

}

.description {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  letter-spacing: 0.05em;
  color: gray;
  text-align: left;
}

.buttons {
  display: flex;
  gap: 1vw;
  margin-top: 3vh;
}

.btn-get-started {
  text-decoration: none;
  color: #90ee90;
  border: 1px transparent #4d4d4d;
  padding: 0.7rem 1.2rem;
  border-radius: 50px;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: background-color 0.2s ease;
}

.btn-get-started:hover {
  background-color: #2a2a2a;
}

.btn-signing-main {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: background-color 0.2s ease;
}

.btn-signing-main:hover {
  background-color: gray;
}


.Subtitle {
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 400;
  color: #90ee90;
}



.my-expertise-content {
  position: absolute;
  margin-top: 3rem;
  left: 50vw; 
  width: clamp(20rem, 40vw, 68rem); 
  height: clamp(20rem, 56vh, 68rem); 
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(59, 59, 59, 0.7)),
    radial-gradient(circle at center, rgb(13, 82, 30), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 30px 50px 40px -10px #000000;

}

.my-expertise-text-box {
  width: clamp(10rem, 40vw, 67rem);
  left: 50vw;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  border-radius: 1rem;
  user-select: none;
  z-index: 1;
}


.my-expertise-sub{
  font-size: 1rem;
  letter-spacing: 0em;
  color: #90ee90;
}

.content-3D{
  margin-top: 15%;
  width: auto;
  height: auto;
} 

.model-overlay{
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;    
  cursor: default;
} 

.model-overlay canvas{
  margin: 10rem 10rem 0 15rem;
  display: block;
  width: auto; 
  height: auto;
} 

.description-overlay {
  margin-top: 8rem;
  text-align: center;
  color: #c0c0c0;
  z-index: 1;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  user-select: none;
  padding: 10px;
  
}

.model-title {
  font-size: clamp(2rem, 3vw, 4rem);
  text-decoration: underline;
  user-select: none;
  text-align: center;

  text-shadow:
    0 0 10px #000000
}

.model-description {
  padding-bottom: 2rem;
  font-size: clamp(1rem, 1vw, 2rem);
  line-height: 1.5;
  user-select: none;
  text-align: center;
  text-shadow:
    0 0 10px #050505
}



/*Containers*/
  





/*proj PROJECT*/
.proj-container {
  

  position: absolute;
  max-width: 25vw;   
  max-height: 20vh;   
  transition: transform 0.3s ease;
  z-index: -2;
}





/*Animation or sumtin*/
.proj-text {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

#proj1-pic:hover, #proj2-pic:hover, #proj3-pic:hover {
  transform: scale(1.05);
}

#proj1-pic, #proj2-pic, #proj3-pic {
  right: 50vh;
  height: 20vh;
  width: 10vw;
  box-shadow: 0 0 10px 1px #000000;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.proj-container-pic {
  flex-direction: column;
  display: flex;
  margin-top: 3rem;
  padding-left: 1rem;
}


.proj-proj-text {
  position: relative;
  top: -21vh;
  left: 18vh;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  font-size: 11px;
  color: hsl(0, 0%, 100%);
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(59, 59, 59, 0.7)),
    radial-gradient(circle at center, rgb(13, 82, 30), rgba(255, 255, 255, 0));
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1s ease, transform 0.4s ease;
  text-shadow: 2px 2px 2px(#000000, 0.5);
  pointer-events: none; 
  z-index: -1;
  height: 100%;
}

.proj-proj-text.show {
  opacity: 1;
  transform: translateX(20px); 
}

.proj1-wrapper, .proj2-wrapper, .proj3-wrapper{
  max-height: 25vh;
}

/*proj PROJECT*/

.slide-left {
  animation: slideLeft 1.5s ease forwards;
}

.slide-right {
  animation: slideRight 1.5s ease forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animationGradient {
  to {
    background-position: 200%;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header {
    padding: 1rem 2vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  nav {
    gap: 2rem;
  }
  
  .content {
    max-width: 90vw;
    margin-left: 5vw;
  }

  .my1x1 {
    right: 5vw;
    top: 10vh;
    width: 50vw;
    height: 50vh;
  }

}

/*GayColor:

90ee90
c0c0c0
*/